apiVersion: v1
kind: Secret
metadata:
  name: bkup-nfs-pv-params
  namespace: openshift-ansible-service-broker
stringData:
  backup_storage_nfs_server: {Server Hostname}
  backup_storage_nfs_root: {Export root path}
  backup_storage_volumegroup: {Volume group name used for thinpool}
  backup_storage_thinpool: {Name of ThinPool LV to add thin lvms to}
  remote_user: {Remote Auth username}
  auth_key: |-
    {-----BEGIN RSA PRIVATE KEY-----
    Multi-line Key for remote authentication
    -----END RSA PRIVATE KEY-----}
  pv_srv_acct: {openshift service account name with PV Create/Delete priv}
  pv_srv_acct_token: {Auth Token for openshift service account}
