apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ pvol_name }}"
spec:
  capacity:
    storage: "{{ pvol_size }}"
  accessModes:
    - ReadWriteMany
  nfs:
    path: "{{ backup_storage_nfs_root }}/{{ pvol_name }}"
    server: "{{ backup_storage_nfs_server }}"
  persistentVolumeReclaimPolicy: Retain
  claimRef:
    name: "bk-{{ pvol_name }}"
    namespace: "{{ namespace }}"
