apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "bk-{{ pvol_name }}"
  namespace: "{{ namespace }}"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ pvol_size }}"
  volumeName: "{{ pvol_name }}"

